# Python cache
__pycache__/
*.py[cod]

# Virtual envs
.venv/
venv/

# Model weights and artifacts
*.pt
*.pth
outputs/*
!outputs/pdatt_dataset_ban/
outputs/pdatt_dataset_ban/*
!outputs/pdatt_dataset_ban/history.csv
!outputs/pdatt_dataset_ban/history.png
previews/

# Large datasets
kaggle_3m/
lgg-mri-segmentation/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db